input {
    border-radius: 25px;
    border: 2px solid #295eb2;
    height: 80px;
    width: 50%;
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    background-color: rgba(133, 83, 143, 0.04);
}

#inner {

    text-align: center;
}

#style {
    font-size: 0;
}
body {margin:0;font-family:Arial}


#body {
    background-image: url("../photos/jonathan-riley-118591-unsplash.jpg");
    background-size: cover;
    min-height: 700px;
    min-width: 350px;
}

#buttons {
    border: 2px solid #295eb2;
    height: 3em;
    font-size: 12px;
    background-color: #8cdae3;
    color: #f2f2f2;
    border-radius: 10%;
    margin-left: 10px;
}

#post_messages {

    color: #295eb2;

    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#banner {
    width: 100%;
    height: 100%;
}

#fresh {
    alignment: left;
}


.App {
    font-family: sans-serif;
    text-align: center;
}

.button {
    background-color: #008cba; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:disabled {
    opacity: 0.5;
}